{% load staticfiles %}
<div class='container'>
	<div class='row'>
		<div class='col-xs-4'></div>
			<div class='col-xs-4'>
				<h1> Question Input Page </h1>
			</div>
		<div class='col-xs-4'></div>
	</div>
	<div class='row'>
		<div class='col-xs-4'></div>
		<div class ='col-xs-4'>
			<link rel="stylesheet" type="text/css" href="{% static 'questions/bootstrap.css' %}">
			<form action="/questions/input/" method="post">
			    {% csrf_token %}
			    <table>
			    	{{ form.as_table }}
				</table>
			    <input type="submit" value="Submit" />
			</form>
		</div>
		<div class='col-xs-4'</div>
	</div>
</div>