{% load staticfiles %}
<head>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'questions/questions.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.css' %}">
</head>
<div class='row'>
	<div class ='col-xs-2'></div>
	<h1 class='col-xs-8'> {{problem}} </h1>
</div>
{% for form in forms %}
<div class='row'>
	<div class='col-xs-2'></div>
	<div class='col-xs-8'>
	
	<form action='/questions/verify/' method="post">
		{% csrf_token %}
	{{form.1 }}
	<input type="submit" value="Submit">
	</form>
	</div>
</div>
{% endfor %}
