<!- 
TODO Sort out file structure and consolidate base into one single file. Apply base to the questions pages
->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<script src="https://www.google.com/jsapi"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/questions.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.css' %}">
</head>

<body>
    <div id="header">
        {% block header %}
        <div class='row'>
            <!-- TODO add reverse urls to dashboard and questions -->
        	<div class='col-xs-2'></div>
            <div class='col-xs-4'><a href='/dashboard'><h2>Dashboard</h2></a></div>
            <div class='col-xs-4'><a href='/questions/simple_question'><h2>Questions</h2></a></div>
            <div class='col-xs-2'></div>
        </div>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>