{% extends 'dashboard/base.html' %}
<div class="container-fluid">

	{% block content %}
	<!- TODO can you have a roiw within a row cos if so i want the header to be one >
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<h1>Welcome to your dashboard</h1>
		</div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class='col-xs-2'></div>
		<div class='col-xs-4'>
			<h2> Your Progress </h2>
			<table>
			{% for date in dates %}
			<tr>
				<td class='date-cell'>
					{{date.0}}
				</td>
				<td>
					 {{date.1}}
				</td>
			</tr>
		{% endfor %}
		</table>
		</div>
		<div class='col-xs-6'>
		<a href='{{ question_url }}'> On with the questions! </a>
		</div>
	</div>
	{% endblock %}
</div>